<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nclg.mapper.ClassesMapper">

    <resultMap type="com.nclg.entity.Classes" id="ClassesResultMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="subjectId" column="subject_id" jdbcType="INTEGER"/>
        <result property="classesName" column="classes_name" jdbcType="VARCHAR"/>
        <result property="remarks" column="remarks" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="table_field">
      id, subject_id, classes_name, remarks      
    </sql>

    <!--通过Id查询单个-->
    <select id="getById" resultMap="ClassesResultMap" parameterType="java.lang.Integer">
        select
        <include refid="table_field"/>
        from question_naire.classes
        where id = #{id,jdbcType=INTEGER}
    </select>


    <!--通过实体不为空的属性作为筛选条件查询列表-->
    <select id="listByEntity" resultMap="ClassesResultMap" parameterType="com.nclg.entity.Classes">
        select
        <include refid="table_field"/>
        from question_naire.classes
        <where>
            <if test="id != null">
                and id = #{id,jdbcType=INTEGER}
            </if>
            <if test="subjectId != null">
                and subject_id = #{subjectId,jdbcType=INTEGER}
            </if>
            <if test="classesName != null">
                and classes_name = #{classesName,jdbcType=VARCHAR}
            </if>
            <if test="remarks != null">
                and remarks = #{remarks,jdbcType=VARCHAR}
            </if>
        </where>
    </select>

    <!--通过实体不为空的属性作为筛选条件查询单个-->
    <select id="getByEntity" resultMap="ClassesResultMap" parameterType="com.nclg.entity.Classes">
        select
        <include refid="table_field"/>
        from question_naire.classes
        <where>
            <if test="id != null">
                and id = #{id,jdbcType=INTEGER}
            </if>
            <if test="subjectId != null">
                and subject_id = #{subjectId,jdbcType=INTEGER}
            </if>
            <if test="classesName != null">
                and classes_name = #{classesName,jdbcType=VARCHAR}
            </if>
            <if test="remarks != null">
                and remarks = #{remarks,jdbcType=VARCHAR}
            </if>
            limit 0,1
        </where>
    </select>

    <!--通过实体不为空的属性作为or like筛选条件查询列表-->
    <select id="listByEntityLike" resultMap="ClassesResultMap" parameterType="com.nclg.entity.Classes">
        select
        <include refid="table_field"/>
        from question_naire.classes
        <where>
            <if test="id != null">
                or id like #{id,jdbcType=INTEGER}
            </if>
            <if test="subjectId != null">
                or subject_id like #{subjectId,jdbcType=INTEGER}
            </if>
            <if test="classesName != null">
                or classes_name like #{classesName,jdbcType=VARCHAR}
            </if>
            <if test="remarks != null">
                or remarks like #{remarks,jdbcType=VARCHAR}
            </if>
        </where>
    </select>

    <!--通过Id列表作为筛选条件查询列表，列表长度不为0-->
    <select id="listByIds" resultMap="ClassesResultMap" parameterType="list">
        select
        <include refid="table_field"/>
        from question_naire.classes
        where id in
        <foreach item="item" collection="list" separator="," open="(" close=")" index="index">
            #{item}
        </foreach>
    </select>

    <!--新增实体属性不为null的列-->
    <insert id="insert" keyProperty="id" useGeneratedKeys="true" parameterType="com.nclg.entity.Classes">
        insert into question_naire.classes
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="subjectId != null">
                subject_id,
            </if>
            <if test="classesName != null">
                classes_name,
            </if>
            <if test="remarks != null">
                remarks,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="subjectId != null">
                #{subjectId,jdbcType=INTEGER},
            </if>
            <if test="classesName != null">
                #{classesName,jdbcType=VARCHAR},
            </if>
            <if test="remarks != null">
                #{remarks,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <!--批量新增所有列，列表长度不能为0，且列表id统一为null或者统一不为null-->
    <insert id="insertBatch" keyProperty="id" useGeneratedKeys="true" parameterType="list">
        insert into question_naire.classes
        (<if test="id != null">id,</if>subject_id, classes_name, remarks)
        values
        <foreach item="item" collection="list" separator="," open="" close="" index="index">
            (<if test="id != null">#{id,jdbcType=INTEGER},</if>#{subjectId,jdbcType=INTEGER},
            #{classesName,jdbcType=VARCHAR}, #{remarks,jdbcType=VARCHAR})
        </foreach>
    </insert>

    <!--通过主键修改实体属性不为null的列-->
    <update id="update" parameterType="com.nclg.entity.Classes">
        update question_naire.classes
        <set>
            <if test="subjectId != null">
                subject_id = #{subjectId,jdbcType=INTEGER},
            </if>
            <if test="classesName != null and classesName != ''">
                classes_name = #{classesName,jdbcType=VARCHAR},
            </if>
            <if test="remarks != null and remarks != ''">
                remarks = #{remarks,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

    <!--通过主键修改实体列表，列表长度不能为0，注意：当实体属性为null时，对应的列也会别更新为null-->
    <update id="updateBatch" parameterType="list">
        update question_naire.classes
        <trim prefix="set" suffixOverrides=",">
            <trim prefix="subject_id = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when id = #{item.id} then #{item.subjectId}
                </foreach>
            </trim>
            <trim prefix="classes_name = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when id = #{item.id} then #{item.classesName}
                </foreach>
            </trim>
            <trim prefix="remarks = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when id = #{item.id} then #{item.remarks}
                </foreach>
            </trim>
        </trim>
        where id in
        <foreach collection="list" index="index" item="item" separator="," open="(" close=")">
            #{item.id,jdbcType=INTEGER}
        </foreach>
    </update>

    <!--通过主键删除-->
    <delete id="deleteById" parameterType="java.lang.Integer">
        delete from question_naire.classes where id = #{id,jdbcType=INTEGER}
    </delete>

    <!--通过实体非空属性删除-->
    <delete id="deleteByEntity" parameterType="com.nclg.entity.Classes">
        delete from question_naire.classes
        <where>
            <if test="subjectId != null">
                and subject_id = #{subjectId,jdbcType=INTEGER}
            </if>
            <if test="classesName != null">
                and classes_name = #{classesName,jdbcType=VARCHAR}
            </if>
            <if test="remarks != null">
                and remarks = #{remarks,jdbcType=VARCHAR}
            </if>
        </where>
    </delete>

    <!--通过主键列表删除，列表长度不能为0-->
    <delete id="deleteByIds" parameterType="list">
        delete from question_naire.classes where id in
        <foreach item="item" collection="list" separator="," open="(" close=")" index="index">
            #{item}
        </foreach>
    </delete>

    <select id="countAll" resultType="int">
        select count(id) from question_naire.classes
    </select>

    <select id="countByEntity" parameterType="com.nclg.entity.Classes" resultType="int">
        select count(id) from question_naire.classes
        <where>
            <if test="id != null">
                and id = #{id,jdbcType=INTEGER}
            </if>
            <if test="subjectId != null">
                and subject_id = #{subjectId,jdbcType=INTEGER}
            </if>
            <if test="classesName != null">
                and classes_name = #{classesName,jdbcType=VARCHAR}
            </if>
            <if test="remarks != null">
                and remarks = #{remarks,jdbcType=VARCHAR}
            </if>
        </where>
    </select>
</mapper>