<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nclg.mapper.NaireexamMapper">

    <resultMap type="com.nclg.entity.Naireexam" id="NaireexamResultMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="naireId" column="naire_id" jdbcType="INTEGER"/>
        <result property="examId" column="exam_id" jdbcType="INTEGER"/>
        <result property="infoRemarks" column="info_remarks" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="table_field">
      id, naire_id, exam_id, info_remarks      
    </sql>

    <!--通过Id查询单个-->
    <select id="getById" resultMap="NaireexamResultMap" parameterType="java.lang.Long">
        select
        <include refid="table_field"/>
        from question_naire.naireExam
        where id = #{id,jdbcType=INTEGER}
    </select>


    <!--通过实体不为空的属性作为筛选条件查询列表-->
    <select id="listByEntity" resultMap="NaireexamResultMap" parameterType="com.nclg.entity.Naireexam">
        select
        <include refid="table_field"/>
        from question_naire.naireExam
        <where>
            <if test="id != null">
                and id = #{id,jdbcType=INTEGER}
            </if>
            <if test="naireId != null">
                and naire_id = #{naireId,jdbcType=INTEGER}
            </if>
            <if test="examId != null">
                and exam_id = #{examId,jdbcType=INTEGER}
            </if>
            <if test="infoRemarks != null">
                and info_remarks = #{infoRemarks,jdbcType=VARCHAR}
            </if>
        </where>
    </select>

    <!--通过实体不为空的属性作为筛选条件查询单个-->
    <select id="getByEntity" resultMap="NaireexamResultMap" parameterType="com.nclg.entity.Naireexam">
        select
        <include refid="table_field"/>
        from question_naire.naireExam
        <where>
            <if test="id != null">
                and id = #{id,jdbcType=INTEGER}
            </if>
            <if test="naireId != null">
                and naire_id = #{naireId,jdbcType=INTEGER}
            </if>
            <if test="examId != null">
                and exam_id = #{examId,jdbcType=INTEGER}
            </if>
            <if test="infoRemarks != null">
                and info_remarks = #{infoRemarks,jdbcType=VARCHAR}
            </if>
            limit 0,1
        </where>
    </select>

    <!--通过实体不为空的属性作为or like筛选条件查询列表-->
    <select id="listByEntityLike" resultMap="NaireexamResultMap" parameterType="com.nclg.entity.Naireexam">
        select
        <include refid="table_field"/>
        from question_naire.naireExam
        <where>
            <if test="id != null">
                or id like #{id,jdbcType=INTEGER}
            </if>
            <if test="naireId != null">
                or naire_id like #{naireId,jdbcType=INTEGER}
            </if>
            <if test="examId != null">
                or exam_id like #{examId,jdbcType=INTEGER}
            </if>
            <if test="infoRemarks != null">
                or info_remarks like #{infoRemarks,jdbcType=VARCHAR}
            </if>
        </where>
    </select>

    <!--通过Id列表作为筛选条件查询列表，列表长度不为0-->
    <select id="listByIds" resultMap="NaireexamResultMap" parameterType="list">
        select
        <include refid="table_field"/>
        from question_naire.naireExam
        where id in
        <foreach item="item" collection="list" separator="," open="(" close=")" index="index">
            #{item}
        </foreach>
    </select>

    <!--新增实体属性不为null的列-->
    <insert id="insert" keyProperty="id" useGeneratedKeys="true" parameterType="com.nclg.entity.Naireexam">
        insert into question_naire.naireExam
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="naireId != null">
                naire_id,
            </if>
            <if test="examId != null">
                exam_id,
            </if>
            <if test="infoRemarks != null">
                info_remarks,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="naireId != null">
                #{naireId,jdbcType=INTEGER},
            </if>
            <if test="examId != null">
                #{examId,jdbcType=INTEGER},
            </if>
            <if test="infoRemarks != null">
                #{infoRemarks,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <!--批量新增所有列，列表长度不能为0，且列表id统一为null或者统一不为null-->
    <insert id="insertBatch" keyProperty="id" useGeneratedKeys="true" parameterType="list">
        insert into question_naire.naireExam
        (<if test="id != null">id,</if>naire_id, exam_id, info_remarks)
        values
        <foreach item="item" collection="list" separator="," open="" close="" index="index">
            (<if test="id != null">#{id,jdbcType=INTEGER},</if>#{naireId,jdbcType=INTEGER}, #{examId,jdbcType=INTEGER},
            #{infoRemarks,jdbcType=VARCHAR})
        </foreach>
    </insert>

    <!--通过主键修改实体属性不为null的列-->
    <update id="update" parameterType="com.nclg.entity.Naireexam">
        update question_naire.naireExam
        <set>
            <if test="naireId != null">
                naire_id = #{naireId,jdbcType=INTEGER},
            </if>
            <if test="examId != null">
                exam_id = #{examId,jdbcType=INTEGER},
            </if>
            <if test="infoRemarks != null and infoRemarks != ''">
                info_remarks = #{infoRemarks,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

    <!--通过主键修改实体列表，列表长度不能为0，注意：当实体属性为null时，对应的列也会别更新为null-->
    <update id="updateBatch" parameterType="list">
        update question_naire.naireExam
        <trim prefix="set" suffixOverrides=",">
            <trim prefix="naire_id = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when id = #{item.id} then #{item.naireId}
                </foreach>
            </trim>
            <trim prefix="exam_id = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when id = #{item.id} then #{item.examId}
                </foreach>
            </trim>
            <trim prefix="info_remarks = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when id = #{item.id} then #{item.infoRemarks}
                </foreach>
            </trim>
        </trim>
        where id in
        <foreach collection="list" index="index" item="item" separator="," open="(" close=")">
            #{item.id,jdbcType=INTEGER}
        </foreach>
    </update>

    <!--通过主键删除-->
    <delete id="deleteById" parameterType="java.lang.Long">
        delete from question_naire.naireExam where id = #{id,jdbcType=INTEGER}
    </delete>

    <!--通过实体非空属性删除-->
    <delete id="deleteByEntity" parameterType="com.nclg.entity.Naireexam">
        delete from question_naire.naireExam
        <where>
            <if test="naireId != null">
                and naire_id = #{naireId,jdbcType=INTEGER}
            </if>
            <if test="examId != null">
                and exam_id = #{examId,jdbcType=INTEGER}
            </if>
            <if test="infoRemarks != null">
                and info_remarks = #{infoRemarks,jdbcType=VARCHAR}
            </if>
        </where>
    </delete>

    <!--通过主键列表删除，列表长度不能为0-->
    <delete id="deleteByIds" parameterType="list">
        delete from question_naire.naireExam where id in
        <foreach item="item" collection="list" separator="," open="(" close=")" index="index">
            #{item}
        </foreach>
    </delete>

    <select id="countAll" resultType="int">
        select count(id) from question_naire.naireExam
    </select>

    <select id="countByEntity" parameterType="com.nclg.entity.Naireexam" resultType="int">
        select count(id) from question_naire.naireExam
        <where>
            <if test="id != null">
                and id = #{id,jdbcType=INTEGER}
            </if>
            <if test="naireId != null">
                and naire_id = #{naireId,jdbcType=INTEGER}
            </if>
            <if test="examId != null">
                and exam_id = #{examId,jdbcType=INTEGER}
            </if>
            <if test="infoRemarks != null">
                and info_remarks = #{infoRemarks,jdbcType=VARCHAR}
            </if>
        </where>
    </select>
</mapper>