<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>试题导入</title>
    <link href="/asserts/css/bootstrap.min.css" th:href="@{/asserts/css/bootstrap.min.css}" rel="stylesheet" />
    <link href="/asserts/css/dashboard.css" th:href="@{/asserts/css/dashboard.css}" rel="stylesheet" />
</head>
<body>
<div th:replace="commons/bar::topbar"></div>
<div class="container-fluid">
    <div class="row">
        <div th:replace="commons/bar::sidebar(activeUri='DynamicZone')"></div>
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
            <h1>文件导入</h1>
            <form method="post" th:action="@{/admin/paper/excel_import}" enctype="multipart/form-data">
                <input hidden name="paperId" type="text" th:value="${paperId}"/>
                <div id="exam_type" class="form-group">
                    <label>题目类型</label>
                    <select  name="type" class="form-control">
                        <option th:value="单选题">1、单选题</option>
                        <option th:value="多选题">2、多选题</option>
                        <option th:value="判断题">3、判断题</option>
                        <option th:value="简答题">4、简答题</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>选择导入的文件</label>
                    <input name="excel_file" type="file" class="form-control"/>
                </div>
                <input type="submit" th:value="提交"/>
            </form>
        </main>
    </div>
</div>
</body>
</html>