<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title th:text="管理员登录界面"></title>
    <link href="/asserts/css/bootstrap.min.css" th:href="@{/asserts/css/bootstrap.min.css}" rel="stylesheet">
    <link href="/asserts/css/signin.css" th:href="@{/asserts/css/signin.css}" rel="stylesheet">

</head>
<body class="text-center">
<form class="form-signin" th:action="@{/admin/loginCheck}" method="post" th:method="post">
    <img class="mb-4" th:src="@{/logo/nclg_logo.jpg}" alt="" width="300" height="100">
    <h1 class="h3 mb-3 font-weight-normal" th:text="请登陆">Please sign in</h1>
    <!-- 判断是否登录失败 -->
    <p class="text-danger" th:text="${error}" th:if="${not #strings.isEmpty(error)}"></p>
    <label class="sr-only" th:text="请输入用户名">Username</label>
    <div class="form-group">
        <input name="username" id="exampleInputFile" type="text" class="form-control" th:placeholder="请输入用户名"  placeholder="Username" required="" autofocus="">
        <!--<span class="text-danger" th:text="${error_username}" th:if="${not #strings.isEmpty(error_username)}"></span>-->
    </div>
    <label class="sr-only" th:text="请输入登录密码">Password</label>
    <div class="form-group">
        <input name="password" type="password" class="form-control" th:class="form-control" th:placeholder="请输入登录密码" required="">
        <!--<span class="text-danger" th:text="${error_password}" th:if="${not #strings.isEmpty(error_password)}"></span>-->
    </div>
    </div>

    <button class="btn btn-lg btn-primary btn-block" type="submit" th:text="登入">Sign in</button>
    <p class="mt-5 mb-3 text-muted">© [[${#dates.format(new java.util.Date().getTime(), 'yyyy-MM-dd hh:mm')}]]</p>
</form>

</body>
</html>